/*base divs*/
#content{
  width: 100%;
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
}

h2,h3{
  text-align: center;
}

/*map type selection dialog styles */
.maptypepreviewimage{
  width: 100%;
}

.maptypeselect{
   float: left;
   border-radius: 25px;
   border: 2px solid gray;
   padding: 20px;
   margin: 15px;
   width: 250px;
   height: 80%;
}

.disabled{
  background: gray;
}

div.gradient div {
    display: inline-block;

    height: 15px;
    color: rgba(0,0,0,0);
}
