/*base divs*/
#content{
  width: 100%;
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
}

h2,h3{
  text-align: center;
}

label{
  display: inline !important;
}

input{
  display: inline !important;
}

.draggable{
  position: absolute;
  left: 0px;
  top: 400px;
  background: white;
  border-radius: 15px;
  border: 2px solid gray;
  float: left;
}
